.main-nav{
	display: flex;
	padding: 10px 15px;
	background-color: #2E8B57;
	position: sticky;
	top: 0;
	color: white;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.nav-left{
	display: flex;
	align-items: center;
	gap: 5px;
}

.dropdown select{
	background-color: white;
	padding: 6px;
	color: orangered;
	border-radius: 5px;
	font-size: 14px;
}

.nav-right{
	display: flex;
	align-items: center;
	gap: 15px;
}

#logo{
	width: 120px;
	height: auto;
}

body{
	margin: 0;
	background-color: #e1f3db;
	font-family: Arial, sans-serif;
}

.background{
  background-image: url("../images/image1.jpg");
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-color: rgba(1, 1, 1, 0.3);
  background-blend-mode: overlay;

  width: 100%;          
  max-width: 100%;      
  min-height: 650px;     
  padding: 0;
  margin: 0;

  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr{
	border: 10px solid #2E8B57;
	padding: 0px 0;
}

.row1{
	align-items: center;
	gap: 20px;
	margin: 20px 0;
	padding: 20px;
}

.description0{
	display: flex;
	gap: 5px;
}

.description0 img{
  width: 100%;           
  max-width: 350px;      
  min-width: 250px;      
  height: auto;          
  border-radius: 10px;
  border: 5px solid green;
  display: block;        
  margin: 20px auto;     
  box-sizing: border-box; 
}

.description0 p{
	padding: 50px;
	font-size: 15px;
	background-color: #2E8B57;
	border-radius: 5px;
	margin: 15px;
	color: white;
}

.description0 h2{
	font-size: 50px;
	background-color: #2E8B57;
	padding: 10px;
	border-radius: 5px;
	margin: 15px;
	color: white;
}

.description1{
	display: flex;
	gap: 5px;
}

.description1 img{
  width: 100%;          
  max-width: 350px;     
  min-width: 250px;      
  height: auto;          
  border-radius: 10px;
  border: 5px solid green;
  display: block;        
  margin: 20px auto;     
  box-sizing: border-box; 
}

.description1 p{
	padding: 50px;
	font-size: 15px;
	background-color: #2E8B57;
	border-radius: 5px;
	margin: 15px;
	color: white;
}

.description1 h2{
	font-size: 50px;
	background-color: #2E8B57;
	padding: 10px;
	border-radius: 5px;
	margin: 15px;
	color: white;
}

.row3{
	align-items: center;
	gap: 20px;
	margin: 20px 0px;
	padding: 20px;
}

.description3{
	display: flex;
	gap: 5px;
}

.description3 img{
  width: 100%;           
  max-width: 350px;      
  min-width: 250px;      
  height: auto;          
  border-radius: 10px;
  border: 5px solid green;
  display: block;        
  margin: 20px auto;     
  box-sizing: border-box; 
}

.description3 p{
	padding: 50px;
	font-size: 15px;
	background-color: #2E8B57;
	border-radius: 5px;
	margin: 15px;
	color: white;
}

.description3 h2{
	font-size: 50px;
	background-color: #2E8B57;
	padding: 10px;
	border-radius: 5px;
	margin: 15px;
	color: white;
}

.row2{
	align-items: center;
	display: flex;
	padding: 30px;
}

.row2 h2, p{
	padding: 20px;
	font-size: 20px;
	background-color: #2E8B57;
	border-radius: 5px;
	margin: 10px;
	color: white;
}

.row2 h2{
	text-align: center;
}

.video{
  width: 940px;
  max-width: 100%;            
  overflow: hidden;
  padding: 10px;
  margin-left: 12px;	
}

.video video{
  width: 100%;          
  height: auto;                 
  border-radius: 10px; 
  border: 5px solid green;  
}

.video p{
  text-align: center;
  font-size: 10px;
}

button{
	background-color: white;
	padding: 10px;
	color: orangered;
	margin: 5px;
	font-size: 12px;
}

footer{
	background-color: #2E8B57;
	color: white;
	padding: 10px 5px;
	text-align: center;
}

.footer-content p, .footer-content a{
	margin: 1px 0;
	color: white;
	text-decoration: none;
	font-size: 15px;
}

.footer-content a:hover{
	color: lightgreen;
}

.table-container {
  width: 100%;
  overflow-x: auto; 
}

table {
  width: 100%;           
  border-collapse: collapse;
  table-layout: fixed;   
}

td {
  width: 33.33%;         
  padding: 10px;
  text-align: center;    
  box-sizing: border-box;
}

td p {
  font-size: 16px;      
  margin: 0;
}

table h2 {
  background-color: #2E8B57;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 20px;       
  border-radius: 5px;
  margin: 0;
}
